<form class="cta-mailing" action="https://bagnallcentre.us13.list-manage.com/subscribe/post?u=36be75aeef021f72f182118c6&amp;id=0d1fee7c5d" method="post" name="mc-embedded-subscribe-form" target="_blank">

    <div class="cta-mailing__content">
        <i class="fa fa-envelope-o cta-mailing__icon"></i>
        <h2 class="cta-mailing__title">Join our mailing list</h2>
        <p class="cta-mailing__description">Enjoy our news on holistic health and wellbeing - make health your lifestyle choice</p>
    </div>

    <div class="cta-mailing__body">
        <label for="mc-signup-form" class="sr cta-mailing__label">E-Mail Address</label>
        <input id="mc-signup-form" class="cta-mailing__input" name="EMAIL" placeholder="your@emailaddress.co.uk" type="email" required="required">
        <input name="subscribe" type="submit" class="cta-mailing__button" value="Sign Up">
        <input type="hidden" name="b_36be75aeef021f72f182118c6_0d1fee7c5d" tabindex="-1" value="">
    </div>

</form>