<footer class="site-footer" role="contentinfo"> 
    <div class="footercontent">
        <img src="{{ "images/footer-brand.svg" | absURL }}" alt="bagnall logo">
        <br>
        <div class="marginspacetwo"></div>
        <a href="/bagnallstory">The Bagnall Story</a> <a href="/news">News</a><br>
        <div class="marginspacetwo"></div>
        <span class="smalltext">© {{ now.Format "2006" }}. Bagnall Centre for Intergrated Healthcare
    </div>
</footer>

<div class="social-media-wrapper">
    <a href="https://fb.com/BagnallCentre/">
    <div class="social-media-button facebook">
        <i aria-hidden="true" class="fa fa-facebook"></i>
    </div></a> <a href="https://twitter.com/BagnallCentre">
    <div class="social-media-button twitter">
        <i aria-hidden="true" class="fa fa-twitter"></i>
    </div></a>
</div>