<footer class="site-footer" role="contentinfo"> 
    <div class="footercontent">
        <a href="{{ .Site.BaseURL }}" >
            <img src="{{ "images/footer-brand.svg" | absURL }}" alt="bagnall logo">
        </a>
        <br>
        <div class="marginspacetwo"></div>
        <a href="/bagnall-story">The Bagnall Story</a> <a href="/news">News</a><br>
        <div class="marginspacetwo"></div>
        <span class="smalltext">© {{ now.Format "2006" }}. Bagnall Centre for Integrated Healthcare
    </div>
</footer>

<div class="social-media-wrapper">
    <a href="{{ $.Site.Data.social.facebook }}" target="_blank" rel="noopener">
        <div class="social-media-button facebook">
            <i aria-hidden="true" class="fa fa-facebook"></i>
        </div>
        <span class="sr">Follow us on Facebook</span>
    </a>
    <a href="{{ $.Site.Data.social.twitter }}" target="_blank" rel="noopener">
        <div class="social-media-button twitter">
            <i aria-hidden="true" class="fa fa-twitter"></i>
        </div>
        <span class="sr">Follow us on Twitter</span>
    </a>
</div>