<div id="headercontainer" style="box-shadow: none;">
    <header style="position:relative;" class="site-header" role="banner">
        <div class="logo">
            <a href="{{ .Site.BaseURL }}">
                <img src="{{ "images/site-brand.svg" | absURL }}" alt="{{ .Site.Title }}">
            </a>
        </div>


        <nav>
            {{ $currentPage := . }}
            <a href="{{ .Site.BaseURL }}" >
                <i class="fa fa-home primary navon" style="font-size:1.3em;"></i>
            </a>
            {{ range .Site.Menus.main }}
                <div class="{{ if $currentPage.IsMenuCurrent "main" . }}navon{{ else }}navoff{{ end }}">
                    <a href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                </div>
            {{ end }}
            <a href="/#toggle" onclick="showHide()"><div class="navoff circle"><i class="fa fa-search"></i></div></a>
        </nav>





        <div id="burger-menu" onclick="showMobNav()">
            <div id="burger-layer-one"></div>
            <div id="burger-layer-two"></div>
            <div id="burger-layer-three"></div>
        </div>
    </header>
    <div id="show" style="padding:30px;box-sizing:border-box;z-index:100;text-align:right;color:white;height:200px;width:100%;background-color:rgba(0,0,0,0.7);top:100%;position:absolute;display:none;">
        <form action="/search/" method="post">
            <span class="largetext bold">SEARCH</span><br>
            <input class="search-input" name="search" onblur="this.placeholder = &#39;Search&#39;" onfocus="this.placeholder = &#39;&#39;" placeholder="Search" type="text" value=""> <button class="search-button"><i class="fa fa-search"></i></button>
        </form>
    </div>
</div>
