<header class="header" role="banner">

    {{ if eq $.Site.Data.emergency.enable "yes" }}
    <div class="emergency">
        <div class="container">
            {{ $.Site.Data.emergency.message | markdownify }}
        </div>
    </div>
    {{ end }}

    <div class="container">

        {{ partial "navigation.html" . }}

        {{ partial "logo.html" . }}

        <button type="button" class="navigation__toggle" data-toggle="#navigation">
            <span></span><span></span><span></span>
        </button>

    </div>

    {{ partial "search-form" . }}

</header>