.h1, h1 {
    font-size: 40px;
    margin-bottom: 30px;
    position: relative;
    margin-top: 0;
    font-weight: normal;
}

.h2, h2 {
    color: $brand-primary;
    margin-top: 0;
    font-size: 28px;
    font-weight: normal;
}

a {
    color: $brand-primary;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $brand-primary;
        text-decoration: underline;
    }

}

p {
    margin-top: 0px;
    margin-bottom: 20px;
}

strong, b {
    font-weight: bold;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: $brand-primary;
}

.text-capitalise {
    text-transform: capitalize;
}

.label-inline {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #ccc;

    label {
        width: 80px;
        margin-right: 10px;
        text-align: right;

    }
}

.text-danger {
    color: $brand-danger;
}