@import 'helpers/variables';
@import 'helpers/mixins';

.ais-search-box {
    position: absolute;
    right: 15px;
    top: 0;
}

.button--reset {
    border: 0;
    background: none;
    cursor: pointer;
}

.sr {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

@import 'components/footer-navigation';
@import 'components/footer';
@import 'components/ctas/ctas';
@import 'components/table';
@import 'components/fitness-and-exercise';
@import 'components/form';
@import 'components/featured-whats-on';
@import 'components/day';
@import 'components/activity';
@import 'components/activities';
@import 'components/room';
@import 'components/whatson-widget';
@import 'components/mailing-list-widget';
@import 'components/social-media';
@import 'components/pagination';
@import 'components/share-buttons';
@import 'components/accordion';