.ais-search-box {
    position: absolute;
    right: 50px;
    top: 30px;
}

.button--reset {
    border: 0;
    background: none;
    cursor: pointer;
}

$orange: #fe7600;

@import 'components/table';
@import 'components/fitness-and-exercise';
@import 'components/secondary-nav';
