html {
    overflow-y: scroll;
}

body {
    background: url(../images/footer-tree.svg) no-repeat bottom right;
    background-size: 50%;
    color: #5b6677;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
p a {
    color: #fe7600;
}
p a:hover {
    color: #ff9100;
}
h1 {
    color: #464e5b;
    font-weight:400;
    font-size:2.5em; /* 32px at 16px body */
    line-height:1;
}

h2 {
    color: #fe7600;
    font-size:1.750em;
    font-weight:400;
    line-height:1.1;
}

h3 {
    color: #fe7600;
    font-size:1.500em;
    font-weight:400;
    line-height:1.1;
}
.phone {
    color: #fe7600;
    font-size: 2em;
}
a {
    color: #fe7600;
    text-decoration: none;
}

a:visited, a:active {
    color: #5b6677;
    text-decoration: none;
}

.smalltext {
    font-size: 0.875em; /* = 14px from body 16px*/
}

.mediumtext {
    font-size: 1.250em; /* = 20px from body 16px*/
}

.largetext {
    font-size: 1.8em; /* = 32px from body 16px*/
}

.orangetext {
    color: #fe7600;
}
.link-list{
    padding: 10px;
}
.link-list .fa{
    padding-right: 10px;
}
.link-list:hover{
    opacity: 0.7;
}
/* ================================== */

#headercontainer {
    background-color: #fff;
    box-sizing: border-box;
    display: flex;
    display: -webkit-flex; /* Safari */
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    }

header {
    display: flex;
    display: -webkit-flex; /* Safari */
    margin: 0 auto;
    width: 90%;
    }

.logo {
    float: left;
    padding-top: 1%;
    width: 20%;
    }

    .logo img {
    display: block;
    width: 100%;
    }

 nav {
    align-self: center;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 0.775em;
    font-weight: 900;
    text-transform: uppercase;
    text-align: right;
    width: 80%;
    }

nav a {
    color: #5b6677;
    text-decoration: none;
    }

.navon {
    display: inline-block;
    padding: 0 1%;
}

.navon > a {
    color: #FE7600;
}

.navon:nth-child(2) > a {
    color: rgba(209, 5, 0, 0.90);
}

.navon:nth-child(3) > a {
    color:rgba(63, 20, 201, 0.90);
}

.navon:nth-child(4) > a {
    color:rgba(19, 189, 29, 0.90);
}

.navoff {
    display: inline-block;
    padding: 0 1%;
}

.navoff a {
    padding: 2em 0;
    transition: all ease-in 0.2s;
}

.navoff:hover a {
    color:#fe7600;
}

.mobilenav {
    display: none;
}

/* ---- SecondaryNav ----- */
.secondarynavon {
    background-color: #e6eefc;
    box-sizing: border-box;
    color:  #7a899e;
    font-size: 1.125em;
    font-weight: 900;
    float: left;
    margin: 0 0 3%;
    padding: 2% 0;
    text-align: center;
    text-transform: uppercase;
    width: 50%;
}

.secondarynavoff {
    background-color: #d6e0ed;
    box-sizing: border-box;
    font-weight: 900;
    float: left;
    font-size: 1.125em;
    margin: 0 0 3%;
    text-align: center;
    text-transform: uppercase;
    padding: 2% 0;
    width: 50%;
}

.secondarynavontwo {
    box-sizing: border-box;
    background-color: #e6eefc;
    color:  #7a899e;
    float: left;
    font-size: 1.125em;
    font-weight: 900;
    padding: 2% 0;
    text-align: center;
    margin: 0 0 3%;
    text-transform: uppercase;
    width: 33.33%;
}

.secondarynavofftwo {
    box-sizing: border-box;
    background-color: #d6e0ed;
    float: left;
    font-size: 1.125em;
    font-weight: 900;
    margin: 0 0 3%;
    padding: 2% 0;
    text-transform: uppercase;
    text-align: center;
    width: 33.33%;
}
.secondarynavonthree {
    box-sizing: border-box;
    background-color: #e6eefc;
    color:  #7a899e;
    float: left;
    font-size: 1.125em;
    font-weight: 900;
    padding: 2% 0;
    text-align: center;
    margin: 0 0 3%;
    text-transform: uppercase;
    width: 25%;
}

.secondarynavoffthree {
    box-sizing: border-box;
    background-color: #d6e0ed;
    float: left;
    font-size: 1.125em;
    font-weight: 900;
    margin: 0 0 3%;
    padding: 2% 0;
    text-transform: uppercase;
    text-align: center;
    width: 25%;
}
.mobile-nav-spacer{
    display: none;
}
a .secondarynavoff, a .secondarynavofftwo, a .secondarynavoffthree {
    color: #5b6677;
}

a .secondarynavoff:hover, a .secondarynavofftwo:hover, a .secondarynavoffthree:hover {
    color: #fff;
    }

.purplesecondarynavoff:hover {
    background-color: rgba(63, 20, 201, 0.90);
}

/*.redsecondarynavoff:hover {
    background-color: rgba(209, 5, 0, 0.90);
}*/

.greensecondarynavoff:hover {
    background-color: rgba(19, 189, 29, 0.90);
}

.orangesecondarynavoff:hover {
    background-color: rgba(254, 118, 0, 0.90);
}

/* === BURGER MENU ==== */

#burger-menu {
    display: none;
}

#hide_mob_nav {
    display: none;
}

/* ----- BORDERS ------ */
.orangeline {
    border-top: 3px solid #fe7600;
    width: 10%;
}

.redline {
    border-top: 3px solid #d10500;
    width: 10%;
}

.greenline {
    border-top: 3px solid #13bd1d;
    width: 10%;
}

.purpleline {
    border-top: 3px solid #3f14c9;
    width: 10%;
}

.greyline {
    margin: 5px 0 10px;
    border-top: 1px solid  #a5b5c4;
}

/* ----- Wrappers ------ */

.content-wrapper {
    box-sizing:border-box;
    margin:0 auto;
    overflow:hidden;
    padding: 20px 0;
    width:90%;
}

.content {
    box-sizing:border-box;
    float: left;
    padding-bottom: 3%;
    width:100%;
}

.page-container {
    box-sizing:border-box;
    margin:0 auto;
    overflow:hidden;
    width:94%;
}
.page-container-events {
    box-sizing:border-box;
    margin:0 auto;
    overflow:hidden;
    width:100%;
}
/* ---- Col Padding ----- */

.colpadding-right {
    box-sizing: border-box;
    padding-right:50px;
}

.colpadding-left {
    box-sizing: border-box;
    padding-left:50px;
}
.article-content{
    width: 100%;
    margin: 0;
}
/* ---- Colums --- */

.one-col {
    float: left;
    width: 100%;
}

.two-col {
    float: left;
    width: 50%;
}

.two-third-col {
    float: left;
    width: 66.66%;
}

.one-third-col {
    float: left;
    width: 33.33%;
}

.one-third-col p {
    margin: 0;
}

.three-quarter-col {
    float: left;
    width: 75%;
}

.three-quarter-col img {
    width: 100%;
}

.onefifth-col {
    box-sizing:border-box;
    float: left;
    padding-right:10px;
    width: 20%;
}

.one-quarter-col {
    float: left;
    width: 25%;
}

.one-quarter-col-home {
    float: left;
    position: relative;
    width: 25%;
}

.one-quarter-col-home:hover {
    filter: alpha(opacity=70); /* For IE8 and earlier */
    opacity: 0.7;
}

.thirtypercent-col {
    box-sizing:border-box;
    float: left;
    padding-right:20px;
    width: 30%;
}

/* ----------------- */

.hero {
    background: url(../uploads/banner-home.jpg) no-repeat top center;
    background-size: cover;
    height: 35vw;
    margin-top: 4.4vw;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.hero-content {
    color: #464e5b;
    position: absolute;
    right: 4vw;
    top: 0;
    width: 46%;
}
.hero-content .upper-content{
    background-color: rgba(255, 255, 255, 0.85);
    padding: 1% 9% 3%;
}
.herobutton {
    background-color: #fe7600;
    border: none;
    border-radius: 3px;
    color: white;
    cursor:pointer;
    font-size: 0.875em;
    font-weight: 700;
    outline:none;
    padding:1em 3em;
    text-transform: uppercase;
}

.herobutton:hover {
    background-color: #ff9100;
}

.greybackground {
    background-color: rgba(230, 238, 252, 0.93);
    box-sizing:border-box;
    overflow:hidden;
    margin:0 auto;
    padding: 0 2% 40px 2%;
    width:100%;
}

.greybackgroundtwo {
    background-color: #d6e0ed;
    box-sizing:border-box;
    margin: 1% 0 0;
    width:100%;
}

.one-third-col img, .two-third-col img, .one-quarter-col-home img {
    display: block;
    width: 100%;
}

.quarter-col-text {
    color: #fff;
    font-size: 1.25em;
    font-weight: 900;
    line-height: 1.1;
    position: absolute;
    right: 0;
    text-align: right;
    text-transform: uppercase;
    top: 60%;
    width: 65%;
}

.orangebackground {
    background: #fe7600 url(../images/white-translucent-tree.svg) no-repeat bottom right;
    background-size: 56%;
}

.darkgreybackground {
    background-color: #464e5b;
}

.titleboxes {
    background-color: #464e5b;
    color: #fff;
    flex: 1;
    font-weight: 700;
    line-height: 1.2;
    padding: 3% 10% 5% 5%;
    height:65px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
/* == HOME PAGE == */

.homeh1 {
    color: #fe7600;
    font-size: 2em;
}

.orangetext {
    color: #fe7600;
}

.joinus {
    box-sizing: border-box;
    color: #fff;
    float: left;
    padding: 3em 2em;
    width: 100%;
}

.joinus .one-quarter-col .fa {
    font-size: 4em;
}

.contact {
    color: #fff;
    line-height: 1.2;
    padding: 5% 42% 5% 5%;
}

.telephonenumber {
    float: left;
    margin-top: 1em;
}

.red {
    background-color: rgba(209, 5, 0, 0.90);
    padding: 8% 15%;
}

.purple {
    background-color: rgba(63, 20, 201, 0.90);
    padding: 8% 15%;
}

.green {
    background-color: rgba(19, 189, 29, 0.90);
    padding: 8% 15%;
}

.orange {
    background-color: rgba(254, 118, 0, 0.90);
    padding: 8% 15%;
}

/* == Sign up form on home == */



.calendarcontainer {
    box-sizing: border-box;
    float: left;
    padding-right: 5%;
}

.calendarcontainer .fa {
    font-size: 2em;
}

.joinusheader {
    color: #fff;
    font-weight: 900;
    text-transform: uppercase;
}

.joinustext {
    padding: 0 0 5%;
}

.joinusform input[type="email"] {
    background-color: #3f4751;
    border-top: 1px solid #6f7d8c;
    border-left: 1px solid #6f7d8c;
    border-bottom: 1px solid #6f7d8c;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    float: left;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    height: 2.8em;
    padding: 0 1.5em;
    outline: none;
    -webkit-border-radius: 5px 0 0 5px;
    width: 80%;
}

.joinusform input[type="email"]::placeholder {
    color: rgba(255, 255, 255, .4);
}
.joinusform input[type="email"]:focus::placeholder {
    color: transparent;
}

.joinusform input[type="submit"] {
    background-color: #fe7600;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    float:left;
    font-size: 1em;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    height: 2.8em;
    text-transform: uppercase;
    outline: none;
   -webkit-border-radius: 0 5px 5px 0;
   -webkit-border-top-right-radius: 5px;
    -webkit-appearance: none;
    width: 20%;
}

.upcomingevents {
    color: #464e5b;
    font-weight: 900;
    font-size: 1.250em;
    text-transform: uppercase;
    padding: 3% 0;
}

.upcomingevents .fa {
    font-size: 1.2em;
    padding-right: 0.6em;
}

.eventtext {
    padding: 3% 0 2%;
}

.eventtext .fa {
    padding-right: 1%;
}

.whatelseison {
    margin: 40px auto;
    width: 60%;
}

/* === PAGES === */
.practitioners-list{
    list-style-type: none;
}
.file {
    ;
}
.file:before {
    font-family: "FontAwesome";
    content: "\f1c1";
    color: #fe7600;
    margin: 0 5px 0 -19px;
}
.notice{
    display: block;
    width: 100%;
    background-color: #fe7600;
    border-radius: 3px;
    color: #ffffff;
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
}


.pebblesbackground {
    background-color: rgba(230, 238, 252, 0.93) url(../images/pepples.png) no-repeat bottom right;
    background-size: 25vh;
}

.products-container {
    background-color: #d6e0ed;
    float: left;
    margin: 0 0 1em;
    width: 100%;
}

.products-container:hover {
    background-color: #a5b5c4;
}

.iconcontainer {
    box-sizing: border-box;
    /*background-color: #fe7600;*/
    float:left;
    width:5%
}

.iconcontainer .svgpurple {
    width: 25px;
    fill: #3f14c9;
}

.iconcontainer .svggreen {
    width: 25px;
    fill: #13bd1d;
}
.descriptioncontainer {
    box-sizing: border-box;
    /*background-color: #fe7600;*/
    float:left;
    padding:0 10px;
    width:90%;
}
.dropdown {
    font-size: 2em;
    text-align: center;
    width: 100%;
}

.onefifth-col .fa {
    font-size: 1.3em;
    padding-right: 20px;
}

.productstitle {
    box-sizing: border-box;
    font-size: 1.4em;
    width: 100%;
}

.productsdescription-start {
    box-sizing: border-box;
    font-size: 1.2em;
    width: 100%;
}

.productsdescription-start .fa {
    padding-left: 0.5em;
    font-size: 2em;
    float: right;
}

.hero-pages {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.hero-pages img {
    width: 100%;
    margin-top: 58px;
    display: block;
}

.herotext-pages {
    background-color: rgba(254, 118, 0, 0.90);
    color: #fff;
    position: absolute;
    font-weight: 900;
    text-transform: uppercase;
    bottom: 0;
    left: 5%;
    padding: 1% 2%;
}
.hero-signout {
    background-color: rgba(254, 118, 0, 0.90);
    color: #fff;
    position: absolute;
    font-weight: 900;
    text-transform: uppercase;
    bottom: 0;
    left: 80%;
    padding: 1% 2%;
}
.hero-signout:hover {
    background-color: rgba(254, 118, 0, 1);
}
.redherotext {
    background-color: rgba(209, 5, 0, 0.90);
    color: #fff;
    position: absolute;
    font-weight: 900;
    text-transform: uppercase;
    bottom: 0;
    left: 5%;
    padding: 1% 2%;
}

.greenherotext {
    background-color: rgba(19, 189, 29, 0.90);
    color: #fff;
    position: absolute;
    font-weight: 900;
    text-transform: uppercase;
    bottom: 0;
    left: 5%;
    padding: 1% 2%;
}

.purpleherotext {
    background-color: rgba(63, 20, 201, 0.90);
    color: #fff;
    position: absolute;
    font-weight: 900;
    text-transform: uppercase;
    bottom: 0;
    left: 5%;
    padding: 1% 2%;
}

.whatsoncontainerside {
    border-bottom: 1px solid #d6e0ed;
    margin-bottom:1em;
    float:left;
    width: 100%;
}

.whatsoncontainerside:hover .fa {
    color: #fe7600;
    }

.whatsoncontainerside:hover .mediumtext {
    color: #fe7600;
    }

.whatsoncontainerside:hover p {
    color: #fe7600;
    }

.whatsoncontainerside p {
    font-size:0.8em;
    margin-top: 0;
}

.whatsoncontainer {
    float:left;
    width: 100%;
}

.whatsoncontainer a {
    box-sizing: border-box;
    display:block;
    float: left;
    padding: 1%;
    width: 100%;
}

.whatsoncontainer a:hover {
    background-color: #fe7600;
    color: #fff;
}

.articles, .whatson, .whatsonsignup {
    padding: 2% 0 5%;
    float: left;
    width: 100%;
}

.whatsonsignup .fa {
    color: #fe7600;
    font-size: 1.8em;
    padding-right: 2%;
}

/* == Sign up and sign in FORMS  === */
.signupform, .signinform {
    margin-top: 2%;
}
.signinform input[type="password"], .signinform input[type="text"]  {
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #6f7d8c;
    font-size: 1em;
    height: 2.8em;
    font-family: 'Lato', sans-serif;
    padding: 0 1.5em;
    outline:none;
    margin-bottom: 1%;
    width: 100%;
}

.signinform input[type="submit"] {
    border:none;
    margin-top: 5%;
    -webkit-appearance: none;
}

/* -- SIGN UP FOR NEWS -- */
.signupform input[type="email"] {
    border-top: 1px solid #6f7d8c;
    border-left: 1px solid #6f7d8c;
    border-bottom: 1px solid #6f7d8c;
    border-right: none;
    background-color: #ffffff;
    border-top-left-radius: 5px;
    border-top-right-radius: 0;
    box-sizing: border-box;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 0;
    color: #000000;
    font-size: 1em;
    height: 2.8em;
    font-family: 'Lato', sans-serif;
    padding: 0 1.5em;
    outline: none;
    float: left;
    width: 79%;
}

.signupform input[type="submit"] {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border: none;
    font-family: FontAwesome;
    outline:none;
    cursor: pointer;
    color:white;
    font-size: 1em;
    height: 2.8em;
    padding: 0 1em;
    background-color:#fe7600;
    position:relative;
    -webkit-appearance: none;
}

/* -----------------------------*/
.marginspace {
    height: 30px;
    float: left;
    width: 100%;
}

.marginspacetwo {
    height: 20px;
    float: left;
    width: 100%
}

.button {
    box-sizing: border-box;
    float:left;
    outline: none;
    text-decoration: none;
    background-color: #fe7600;
    border-radius: 3px;
    text-transform: uppercase;
    color: white;
    cursor:pointer;
    text-align: center;
    font-weight: 700;
    font-size: 0.875em;
    padding: 1em 0;
    width: 100%;
}

.button:hover {
    background-color: #ff9100;
}

.button:visited, .button:active {
    text-decoration: none;
    color: #fff;
}

/* === BOOK A CLASS ==== */

.products {
    display: table;
    font-size:1em;
    width: 100%;
}
.filter {
    box-sizing: border-box;
    float: left;
    font-size:0.6em;
    padding:9px;
}
.filter select {
    font-size: 2em;
}
.productsmobile {
    display: none;
}

.one-col-class-header {
    box-sizing: border-box;
    color: #d10500;
    float: left;
    font-weight: 700;
    padding: 1%;
    text-transform: uppercase;
    width: 100%;
}

.one-col-class {
    box-sizing: border-box;
    border-top: 1px solid #a5b5c4;
    float: left;
    cursor: pointer;
    margin-left: 5%;
    padding: 1%;
    width: 100%;
}
.one-col-class-no-drop {
    box-sizing: border-box;
    border-top: 1px solid #a5b5c4;
    float: left;
    cursor: pointer;
    padding: 1%;
    width: 100%;
}

.classhover:hover {
    background-color: #d6e0ed;

}
.classhover:hover a {
    color: #fff;
}
.wellbeinghover:hover,
.therapyhover:hover {
    background-color: rgba(63, 20, 201, 0.90);
    color: #fff;
}

.wellbeinghover:hover .svgpurple,
.therapyhover:hover .svgpurple,
.lifestylehover:hover .svggreen,
.nutritionhover:hover .svggreen {
    fill:#fff;
}

.lifestylehover:hover,
.nutritionhover:hover  {
    background-color: rgba(19, 189, 29, 0.90);
    color: #fff;
}

.productdescription {
    background-color: #d6e0ed;
    box-sizing: border-box;
    display:none;
    margin-left: 5%;
    padding: 0.6em 2em;
    font-size: 1em;
    float: left;
    width: 95%;
}

.productdescription-show {
    display: block;
    background-color: #d6e0ed;
    box-sizing: border-box;
    margin-left: 5%;
    padding: 1%;
    float: left;
    width: 95%;
}

.classdate {
    float: left;
    font-weight: 700;
    width: 5%;
}
.classdate:contains("monday"){
    float: left;
    font-weight: 700;
    width: 10%;
    color: red;
}

.classtitle {
    float: left;
    width: 35%;

}

.classtime {
    float: left;
    width: 6%;
}

.classtime .fa {
    padding-left: 0.5em;
}

.classteacher {
    float: left;
    width: 7%;
}

.classprice {
    float: left;
    width: 20%;
}

.classroom {
    float: left;
    width: 10%;
}

.classterm {
    float: left;
    width: 15%;
}

.classbooking {
    float: left;
    width: 8%;
}

.one-col-class .classtime{
    font-weight: 600;
}
.class-title{
    font-size: 1.2em;
    margin: 0;
    text-transform: uppercase;
}

.three-quarter-col .roomupgrades {
    float: left;
    margin: 1.5em 4% 4% 0;
    width:30%;
}
.three-quarter-col .roomupgrades-right{
    float: right;
    margin: 0 0 0 4%;
    width:30%;
}
.three-quarter-col .roomupgrades-left{
    float: left;
    margin: 0 4% 0 0;
    width:30%;
}
.room-row p{
    margin: 4%;
}
/* ==== RENTAL FEES TABLE ===== */

.rentalfeetable {
    font-size: 0.9em;
    float: left;
    width: 100%;
}

.rf-label {
    font-size: 0.9em;
    color: #ff9100;
    line-height: 1.1em;
    font-weight: 700;
}

.rf-rowheading-container {
    border-bottom: 1px solid #a5b5c4;
    float: left;
    width: 100%;
}

.rf-row {
    border-bottom: 1px solid #a5b5c4;
    float:left;
    width: 100%;
}
.rf-room {
    box-sizing: border-box;
    float:left;
    padding: 3% 3% 3% 0;
    width: 25%;
}

.rf-adhoc, .rf-flexi, .rf-fixed, .rf-halfday, .rf-fullday {
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    padding: 3% 3% 3% 0;
    width:15%;
}

/* ==== BOOK A ROOM === */

.bookaroom input[type="text"] {
        box-sizing: border-box;
        border: 1px solid #AFAFAF;
        border-radius: 5px;
        font-size: 1em;
        height: 2.8em;
        font-family: 'Lato', sans-serif;
        padding: 0 1.5em;
        margin-bottom: 20px;
        outline: none;
        width: 99%;
}

.bookaroom select {
        border: 1px solid #AFAFAF;
        border-radius: 5px;
        font-size: 1em;
        height: 2.8em;
        font-family: 'Lato', sans-serif;
        padding: 0 1.5em;
        display: block;
        outline: none;
        width: 99%;
}
.room-row{
    background: #fff;
    float: left;
    width: 100%;
    margin-bottom: 30px;
}

.apply input[type="text"], .apply input[type="email"] {
        box-sizing: border-box;
        border: 1px solid #AFAFAF;
        border-radius: 5px;
        font-size: 1em;
        height: 2.8em;
        font-family: 'Lato', sans-serif;
        padding: 0 1.5em;
        margin-bottom: 20px;
        outline: none;
        width: 99%;
}

.apply select {
        border: 1px solid #AFAFAF;
        border-radius: 5px;
        font-size: 1em;
        height: 2.8em;
        font-family: 'Lato', sans-serif;
        padding: 0 1.5em;
        display: block;
        outline: none;
        width: 99%;
}
/* === CONTACT FORM ==== */

.contactform {
    font-weight: 700;
    width: 90%;
}

.contactform label {
    display: block;
    margin-bottom: 5px;
}

.contactform input[type="text"], .contactform input[type="email"] {
        box-sizing: border-box;
        border: 1px solid #AFAFAF;
        border-radius: 5px;
        display: block;
        font-size: 1em;
        height: 2.8em;
        font-family: 'Lato', sans-serif;
        padding: 0 1.5em;
        outline: none;
        width: 99%;
}

.contactform input[type="submit"], .bookaroom input[type="submit"], .apply input[type="submit"]{
        border: none;
        -webkit-appearance: none;
}

/* --- HOVER for Submits --- */
.contactform input[type="submit"]:hover, .signupform input[type="submit"]:hover, .joinusform input[type="submit"]:hover {
    background-color: #ff9100;
    -webkit-appearance: none;
}

#message, #specialrequirements  {
        box-sizing: border-box;
        border: 1px solid #AFAFAF;
        font-family: 'Lato', sans-serif;
        border-radius: 5px;
        display: block;
        font-size: 1em;
        height: 150px;
        padding: 2% 10% 2% 1.6em;
        margin-bottom: 3%;
        outline: none;
        width: 99%;
}

/* ================== */

footer {
        float: left;
        padding-top:3%;
        font-size: 0.875em;
        width:100%;
}

footer .footercontent a {
    font-weight: 900;
    color: #464e5b;
    padding: 1% 0;
    text-decoration: none;
    text-transform: uppercase;
    transition: all ease-in 0.1s;
    margin-right: 3%;
}

footer .footercontent a:hover {
    color: #fe7600;
}

footer .footercontent img {

    margin-bottom: 1%;
    width: 160px;
}


/* ---- FLEX ---- */

.eventwrapper {
    display:flex;
    flex-direction: column;
    }

.eventwrapper:hover .titleboxes {
    background-color: #fe7600;
}

.eventwrapper:hover .imageboxes {
    filter: alpha(opacity=80); /* For IE8 and earlier */
    opacity: 0.8;
}
.eventwrapper .imageboxes img{
    width: 100%;
    display: block;
    object-fit: cover;
    height: 250px;
}
.one-col-flex-home {
    float: left;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-around;
    -webkit-justify-content: space-around; /* Safari 6.1+ */
    width: 100%;
}

.one-col-flex {
    float: left;
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    width: 100%;
}

.one-half-flex {
    flex:1;
}
.one-col-half {
    float:left;
    width:48%;
}
.one-third-col-flex {
    flex-basis: 31%;
    -webkit-flex-basis: 31%; /* Safari 6.1+ */
}

.one-third-col-flex a {
    color: #464e5b;
    text-decoration: none;
}

.one-quarter-col-flex {
    display: flex;
    flex-basis: 23%;
    flex-direction: column;
    margin-bottom: 35px;
    -webkit-flex-basis: 23%; /* Safari 6.1+ */
}

.one-quarter-col-flex a {
    text-decoration: none;
}

.one-quarter-col-flex:hover {
    opacity: 0.9;
    filter: alpha(opacity=90); /* For IE8 and earlier */
}

.one-quarter-col-flex img, .one-third-col-flex img {
    width: 100%;
    display: block;
}
.small-button {
    background-color:#FF9100;
    border-radius:5px;
    color:#fff;
    padding:5px;
    text-align:center;
    width:100%;
}
.small-button a {
    color:#fff;
}
.booking {
    font-size:2.6em;
    text-align: center;
}
.clear {
    clear:both;
}
.justify p {
    text-align:justify;
}
/* -------------------- */
.social-media-wrapper{
    top: 44%;
    right: 0;
    position: fixed;
    z-index: 9999;
}
.social-media-button{
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    font-size: large;
    padding: 7px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
a:hover .social-media-button {
    cursor: pointer;
    opacity: 0.7;

}
.facebook{
    background-color: #3b5998;
}
.twitter{
    background-color: #1dadea;
}
.vote{
    background-color: #f53c7b;
}
.vote-call{
    top: 52.55%;
    right: 40px;
    position: fixed;
    width: 320px;
    animation: fadeOutRight 2s forwards 6s 1;
    z-index: 998;
}
@keyframes shrink {
    from {opacity: 1;}
    50% {opacity: 0; transform: scale3d(.3, .3, .3);}
    to {opacity: 0;}
}
@keyframes fadeOutRight {
  from {opacity: 1;}
  to {opacity: 0; transform: translate3d(100%, 0, 0);}
}

/* ----- TIMETABLE ----- */


.day-wrapper{
    float: left;
    min-height: 170px;
    position: relative;
    width: 100%;
}
.day-label{
    display: flex;
    height: 100%;
    width: 5%;
    position: absolute;
    left: 0;
    text-align: center;
    top: 0;
}
.day-label img{
    align-self: center;
    margin: auto;
}

.monday-bg, .friday-bg {
    background: #d10500;
}
.tuesday-bg, .saturday-bg {
    background: #3f14c9;
}
.wednesday-bg, .sunday-bg {
    background: #13bd1d;
}
.thursday-bg {
    background: #fc7600;
}

.red-bg{
    background: #d10500;
}
.blue-bg{
    background: #3f14c9;
}
.green-bg{
    background: #13bd1d;
}
.orange-bg{
    background: #fc7600;
}
.timetable-filters{
    float: right;
    width: 100%;
    text-align: right;
}
.tt-filter{
    display: inline-block;
    background-color: #FF9100;
    color: #ffffff;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}
.text-monday, .text-friday{
    color: #d10500;
    font-weight: 600;
}
.text-tuesday, .text-saturday{
    color: #3f14c9;
    font-weight: 600;
}
.text-wednesday, .text-sunday{
    color: #13bd1d;
    font-weight: 600;
}
.text-thursday {
    color: #fc7600;
    font-weight: 600;
}
.event-calltoaction{
    box-sizing: border-box;
    background-color: #fe7600;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.2em;
    padding: 4% 10%;
    text-align: center;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.event-calltoaction:hover{
    background: #ff9100;
}
.event-icon {
    box-sizing: border-box;
    float: left;
    width: 10%;
}
.event-call{
    box-sizing: border-box;
    float: left;
    width: 80%;
}
.event-icon .fa{
    font-size: 1.2em;
    vertical-align: baseline;
}
/*------ Search --------*/
.result-row {
    border-bottom: 1px solid #CAD7E5;
    padding: 1%;
}
.result-row h1{
    margin: 0;
}
.result-row:hover {
    background: #D6E0ED;
}


#toggle {
  display: none;
}
#toggle:target {
  display: block;
}
#toggle:target + .close {
  display: block;
}
.search-area {
     color:white;
     padding:50px;
     height:100px;
     width:92%;
     background-color:rgba(0,0,0,0.5);
     top:90px;
     position:absolute;
     display:none;
     text-align:right;
}
.close {
  display: none;
}
.circle {
  background-color:#FE7600;
  color:#fff;
  width: 30px;
  height: 18px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.circle a {
     color:#fff;
}
.circle:hover a {
     color:#fff;
}
.bold {
    font-weight: bold;
}
.search-wrapper {
    width:20%;
}
.search-button {
    background-color:orange;
    border:0;
    border-radius: 0 5px 5px 0;
    color:#fff;
    height:40px;
    font-size:20px;
    margin-left:-3px;
    width:3%
}
input[type=text].search-input {
    box-sizing:border-box;
    border:0;
    height:40px;
    padding:0;
    width:30%;
    font-size:20px;
    padding-left:10px;
}

.newsflash {
    position: relative;
    color:#fff;
    background-color:#FC0D1C;
    font-size:16px;
    display:inline;
    padding:10px;
    top: 40px;
    font-weight: bold;
}
.newsflash a {
    color:#fff;
}
/*.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
    clear: both;
}
.embed-responsive .embed-responsive-item,
.embed-responsive iframe,
.embed-responsive embed,
.embed-responsive object,
.embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}*/
.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}
.embed-responsive-4by3 {
  padding-bottom: 75%;
}
@media screen and (min-width: 860px) {
    .newsflash_mobile {
        display:none;
    }
}




/* ============= MEDIA QUERY!!!! ============= */
@media screen and (min-width: 1600px) {
    
    body {
        font-size:18px;
    }
    .article-content{
        width: 60%;
        margin: 0 auto;
        margin: 0 auto;
    }
}
@media screen and (max-width: 1470px) {
    .event-calltoaction{
        font-size: 1em;
    }
}
@media screen and (max-width: 1240px) {
    .event-calltoaction{
        font-size: 0.9em;
    }
}
@media screen and (max-width: 1090px) {
    .event-calltoaction{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 1030px) {
    .hero-text{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 1024px) {
    
    
    body {
        font-size:14px;
        
    }
    
    .smalltext {
    font-size: 0.875em; /* = 14px from body 16px*/
    }
    
    .mediumtext {
        font-size: 1.250em; /* = 20px from body 16px*/
    }
    
    .largetext {
        font-size: 1.6em; /* = 32px from body 16px*/
    }
    
    .hero {
        margin-top: 4vw;
    }
    
    .hero-pages img {
    margin-top: 4vw;
    }
    
    .quarter-col-text {
    font-size: 1em;
    width:75%;
    }
    
    .secondarynavontwo {
    font-size: 0.9em;
    }
    
    .secondarynavofftwo {
    font-size: 0.9em;
    }
    .secondarynavonthree{
        font-size: 0.9em;
    }
    .secondarynavoffthree{
        font-size: 0.9em;
    }
    .whatsonsignup .fa {
    font-size: 0.8em;
    }
    .eventwrapper .imageboxes img{
    height: 160px;
}
}

@media screen and (max-width: 860px) {
    form.search {
        margin:3px;
    }
    .search-button {
        background-color:orange;
        border:0;
        border-radius: 0;
        color:#fff;
        height:40px;
        font-size:20px;
        margin-left:-3px;
        width:4%
    }
    input[type=text].search-input {
        box-sizing:border-box;
        border:0;
        height:40px;
        padding:0;
        width:30%;
        font-size:20px;
        padding-left:10px;
    }
    .content-wrapper {
        padding: 0;
        width:90%;
    }
    
    #headercontainer {
    position: static;
    float: left;
    width: 100%;
    }
    .event-calltoaction{
        display: none;
    }
    
    header {
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    }
    
    .homeh1 {
       font-size: 4.3vw;
    }
    
    .hero {
     margin-top:0;
    }
    
    .hero-content {
    padding: 5vw 4vw 4vw;
    width: 50%;
    }
    
    .hero-text {
    display: none;
    }
    
    .hero-pages img {
    margin-top: 0;
    }
    
    .logo {
    width: 54%;
    }
    
    nav {
    display: none;
    }
    
    /* === BURGER MENU ==== */
        
    #burger-menu {
        display: block;
        padding: 20px 0 20px 50px;
        align-self: center;
    }
    
    #burger-layer-one, #burger-layer-two, #burger-layer-three {
        width: 20px;
        height: 3px;
        background-color: #5b6677;
        margin: 0 0 3px 0;
        transition: all 0.8s;
    }
    
    #burger-layer-three {
        margin: 0;
    }
    
    /* --- END Burger Menu --- */
    
    /* --- MOBILE NAVIGATION ---*/
    .mobilenav {
    box-sizing: border-box;
    display: block;
    background-color: #fe7600;
    float: left;
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    width: 100%;
    }
    
    .navonmob {
    border-bottom: 1px solid #e86300;
    color: #fff;
    display: block;
    padding: 10px 18px;
    }

    .navoffmob {
        border-bottom: 1px solid #e86300;
    }
    
    #show_mob_nav {
    display:block;
    }
    
    .navoffmob a {
    color: #fff;
    display:block;
    padding: 10px 18px;
    text-decoration: none;
    }
    
    .joinusform input[type="email"], .signupform input[type="email"] {
    width: 70%;
    }
    
    .joinusform input[type="submit"] {
    width: 30%;
    }
    

}
    
    /* ===== MOBILE!! =========== */

@media screen and (max-width: 720px) {
    body {
        font-size:13px;
    }
    
    h1 {
        font-size:1.4em;
    }
    
    h2 {
        font-size:1.3em;
    }
    
    h3 {
        font-size:1.2em;
    }
    
    .smalltext {
    font-size: 0.875em; /* = 11px from body 13px*/
    }

    .mediumtext {
    font-size: 1.077em; /* = 14px from body 13px*/
    }

    .largetext {
    font-size: 1.625em; /* = 21px from body 13px*/
    }
    
    
/* ----- Wrappers ------ */
    
    .hero {
    height: 40vw;
    margin-top: 0vh;
    }
    
    .hero-pages img {
    margin-top: 0;
    }

    
    .herobutton {
    font-size: 0.8em;
    padding: 1em;
    }
    
    .quarter-col-text {
    font-size: 1em;
    width: 84%;
    }
    
    /* ---- Col Padding ----- */

    .colpadding-right {
        padding-right:0px;
    }
    
    .colpadding-left {
        padding-left:0px;
    }

    /* ---- Colums --- */

    .one-col {
        float: left;
        width: 100%;
    }
    
    .two-col {
        float: none;
        width: 100%;
    }
    
    .two-third-col {
        float: none;
        width: 100%;
    }
    
    .three-quarter-col {
        float: none;
        width: 100%;
    }
    
    .one-third-col {
        width: 100%;
    }
    
    .one-quarter-col-home {
        float: left;
        position: relative;
        width: 50%;
    }
    
    .one-quarter-col {
        float: left;
        width: 100%;
    }
    
    .whatelseison {
    width: 100%;
    }
    
    .thirtypercent-col {
    float: none;
    width: 100%;
    }
    
    .onefifth-col {
    float: none;
    width: 100%;
    }
    
    .wellbeingdescription {
    float: none;
    }
    
    .eventtext {
    display: none;
    }
    
    .contact {
    padding: 5%;
    }
    
    .telephonenumber {
    margin-top: 0;
    padding-bottom: 1em;
    }
    
    .calendarcontainer {
    padding-bottom: 5%;
    }
    
    .joinusheader {
    font-size: 1.5em;
    }
    
    .titleboxes {
    box-sizing: border-box;
    padding: 0.4em 1.5em;
    height: 75px;
    }
    
    .imageboxes {
    flex-basis: 35%;
    }

    .products {
    display:none;
    }
    
    .showdiv {
    display: block;
    }
    
    /* CLASSES on MOBILE */
    .productsmobile {
    display:block;
    }
    
    .one-col-class {
    padding: 0.6em 1em;
    }
    
    .classdate {
    font-size: 0.9em;
    font-weight: 400;
    width: 50%;
    }

    .classtitle {
    font-size: 1.1em;
    width: 100%;
    }
    
    .classtime {
    font-size: 0.9em;
    text-align: right;
    width: 50%;
    }
    
    .classteacher {
    width: 100%;
    }
    
    .classprice {
    width: 100%;
    }
    
    .classroom {
    width: 100%;
    }
    
    .classterm {
    width: 100%;
    }
    
    .classbooking {
    width: 100%;
    }
    
    .contactform {
    width: 98%;
    }
    
    footer .footercontent img {
    width: 100px;
    }
    
    
    /* ---- FLEX --- */
    
    .eventwrapper {
    flex-direction: row;
    }
    .eventwrapper .imageboxes img{
    height: 75px;
    }
    
    .one-col-flex {
    display: flex;
    display: -webkit-flex; /* Safari */
    justify-content: space-between;
    -webkit-justify-content: space-between; /* Safari 6.1+ */
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    width: 100%;
    }
    
    .one-col-flex-home {
    display: flex;
    display: -webkit-flex; /* Safari */
    flex-direction: column;
    }

    .one-half-flex {
        flex: 0 0 100%;
    }

    .one-third-col-flex {
        display: flex;
        display: -webkit-flex; /* Safari */
        margin-bottom: 15px;
        flex-basis: 100%;
        -webkit-flex-basis: 100%; /* Safari 6.1+ */ 
    }
    
    .one-quarter-col-flex {
    flex-basis: 47%;
    -webkit-flex-basis: 47%; /* Safari 6.1+ */  
    }
    
    .one-col-half {
        float:none;
        width:100%;
        
    }
    .secondarynavonthree{
        width: 50%;
        margin-bottom: 0;
    }
    .secondarynavoffthree{
        width: 50%;
        margin-bottom: 0;
    }
    .mobile-nav-spacer{
        margin: 3% auto;
        float: left;
        display: block;
    }

}
@media screen and (max-width: 860px) {
    .newsflash_mobile {
        font-size:16px;
        float:left;
        width:100%;
        text-align:center;
        color:#fff;
        background-color:#FC0D1C;
        display:inline;
        padding:10px;
        font-weight: bold;
    }
    .newsflash_mobile a {
        color:#fff;
    }
    .newsflash {
        display: none;
    }
}

