/* ============= MEDIA QUERY!!!! ============= */
@media screen and (min-width: 1600px) {
	
	body {
		font-size:18px;
	}
	.article-content{
		width: 60%;
		margin: 0 auto;
		margin: 0 auto;
	}
}
@media screen and (max-width: 1470px) {
	.event-calltoaction{
		font-size: 1em;
	}
}
@media screen and (max-width: 1240px) {
	.event-calltoaction{
		font-size: 0.9em;
	}
}
@media screen and (max-width: 1090px) {
	.event-calltoaction{
		font-size: 0.8em;
	}
}
@media screen and (max-width: 1030px) {
	.hero-text{
		font-size: 0.8em;
	}
}
@media screen and (max-width: 1024px) {
	
	
	body {
		font-size:14px;
		
	}
	
	.smalltext {
	font-size: 0.875em; /* = 14px from body 16px*/
	}
	
	.mediumtext {
		font-size: 1.250em; /* = 20px from body 16px*/
	}
	
	.largetext {
		font-size: 1.6em; /* = 32px from body 16px*/
	}
	
	.hero {
	    margin-top: 4vw;
	}
	
	.hero-pages img {
    margin-top: 4vw;
	}
	
	.quarter-col-text {
    font-size: 1em;
    width:75%;
	}
	
	.secondarynavontwo {
	font-size: 0.9em;
	}
	
	.secondarynavofftwo {
	font-size: 0.9em;
	}
	.secondarynavonthree{
		font-size: 0.9em;
	}
	.secondarynavoffthree{
		font-size: 0.9em;
	}
	.whatsonsignup .fa {
    font-size: 0.8em;
	}
	.eventwrapper .imageboxes img{
	height: 160px;
}
}

@media screen and (max-width: 860px) {
	form.search {
		margin:3px;
	}
	.search-button {
		background-color:orange;
		border:0;
		border-radius: 0;
		color:#fff;
		height:40px;
		font-size:20px;
		margin-left:-3px;
		width:4%
	}
	input[type=text].search-input {
		box-sizing:border-box;
		border:0;
		height:40px;
		padding:0;
		width:30%;
		font-size:20px;
		padding-left:10px;
	}
	.content-wrapper {
		padding: 0;
		width:90%;
	}
	
	#headercontainer {
	position: static;
	float: left;
	width: 100%;
	}
	.event-calltoaction{
		display: none;
	}
	
	header {
	justify-content: space-between;
	-webkit-justify-content: space-between; /* Safari 6.1+ */
	}
	
	.homeh1 {
	   font-size: 4.3vw;
	}
	
	.hero {
	 margin-top:0;
	}
	
	.hero-content {
	padding: 5vw 4vw 4vw;
    width: 50%;
	}
	
	.hero-text {
	display: none;
	}
	
	.hero-pages img {
    margin-top: 0;
	}
	
	.logo {
    width: 54%;
	}
	
	nav {
	display: none;
	}
	
	/* === BURGER MENU ==== */
		
	#burger-menu {
		display: block;
		padding: 20px 0 20px 50px;
		align-self: center;
	}
	
	#burger-layer-one, #burger-layer-two, #burger-layer-three {
		width: 20px;
		height: 3px;
		background-color: #5b6677;
		margin: 0 0 3px 0;
		transition: all 0.8s;
	}
	
	#burger-layer-three {
		margin: 0;
	}
	
	/* --- END Burger Menu --- */
	
	/* --- MOBILE NAVIGATION ---*/
	.mobilenav {
	box-sizing: border-box;
	display: block;
	background-color: #fe7600;
	float: left;
	font-size: 1.2em;
	font-weight: 900;
	text-transform: uppercase;
	width: 100%;
	}
	
	.navonmob {
	border-bottom: 1px solid #e86300;
	color: #fff;
	display: block;
	padding: 10px 18px;
	}

	.navoffmob {
		border-bottom: 1px solid #e86300;
	}
	
	#show_mob_nav {
	display:block;
	}
	
	.navoffmob a {
	color: #fff;
	display:block;
	padding: 10px 18px;
	text-decoration: none;
	}
	
	.joinusform input[type="email"], .signupform input[type="email"] {
    width: 70%;
	}
	
	.joinusform input[type="submit"] {
    width: 30%;
	}
	

}
	
	/* ===== MOBILE!! =========== */

@media screen and (max-width: 720px) {
	body {
		font-size:13px;
	}
	
	h1 {
		font-size:1.4em;
	}
	
	h2 {
		font-size:1.3em;
	}
	
	h3 {
		font-size:1.2em;
	}
	
	.smalltext {
	font-size: 0.875em; /* = 11px from body 13px*/
	}

	.mediumtext {
	font-size: 1.077em; /* = 14px from body 13px*/
	}

	.largetext {
	font-size: 1.625em; /* = 21px from body 13px*/
	}
	
	
/* ----- Wrappers ------ */
	
	.hero {
	height: 40vw;
	margin-top: 0vh;
	}
	
	.hero-pages img {
	margin-top: 0;
	}

	
	.herobutton {
    font-size: 0.8em;
    padding: 1em;
	}
	
	.quarter-col-text {
    font-size: 1em;
    width: 84%;
	}
	
	/* ---- Col Padding ----- */

	.colpadding-right {
		padding-right:0px;
	}
	
	.colpadding-left {
		padding-left:0px;
	}

	/* ---- Colums --- */

	.one-col {
		float: left;
		width: 100%;
	}
	
	.two-col {
		float: none;
		width: 100%;
	}
	
	.two-third-col {
		float: none;
		width: 100%;
	}
	
	.three-quarter-col {
		float: none;
		width: 100%;
	}
	
	.one-third-col {
		width: 100%;
	}
	
	.one-quarter-col-home {
		float: left;
		position: relative;
		width: 50%;
	}
	
	.one-quarter-col {
		float: left;
		width: 100%;
	}
	
	.whatelseison {
    width: 100%;
	}
	
	.thirtypercent-col {
	float: none;
	width: 100%;
	}
	
	.onefifth-col {
	float: none;
	width: 100%;
	}
	
	.wellbeingdescription {
    float: none;
	}
	
	.eventtext {
	display: none;
	}
	
	.contact {
	padding: 5%;
	}
	
	.telephonenumber {
	margin-top: 0;
	padding-bottom: 1em;
	}
	
	.calendarcontainer {
   	padding-bottom: 5%;
	}
	
	.joinusheader {
    font-size: 1.5em;
	}
	
	.titleboxes {
	box-sizing: border-box;
    padding: 0.4em 1.5em;
	height: 75px;
	}
	
	.imageboxes {
	flex-basis: 35%;
	}

	.products {
	display:none;
	}
	
	.showdiv {
	display: block;
	}
	
	/* CLASSES on MOBILE */
	.productsmobile {
	display:block;
	}
	
	.one-col-class {
    padding: 0.6em 1em;
	}
	
	.classdate {
	font-size: 0.9em;
	font-weight: 400;
	width: 50%;
	}

	.classtitle {
	font-size: 1.1em;
	width: 100%;
	}
	
	.classtime {
	font-size: 0.9em;
	text-align: right;
	width: 50%;
	}
	
	.classteacher {
	width: 100%;
	}
	
	.classprice {
	width: 100%;
	}
	
	.classroom {
	width: 100%;
	}
	
	.classterm {
	width: 100%;
	}
	
	.classbooking {
	width: 100%;
	}
	
	.contactform {
    width: 98%;
	}
	
	footer .footercontent img {
    width: 100px;
	}
	
	
	/* ---- FLEX --- */
	
	.eventwrapper {
	flex-direction: row;
	}
	.eventwrapper .imageboxes img{
	height: 75px;
	}
	
	.one-col-flex {
	display: flex;
	display: -webkit-flex; /* Safari */
	justify-content: space-between;
	-webkit-justify-content: space-between; /* Safari 6.1+ */
	flex-wrap: wrap;
	-webkit-flex-wrap: wrap; /* Safari 6.1+ */
	width: 100%;
	}
	
	.one-col-flex-home {
	display: flex;
	display: -webkit-flex; /* Safari */
	flex-direction: column;
	}

	.one-half-flex {
	    flex: 0 0 100%;
	}

	.one-third-col-flex {
		display: flex;
		display: -webkit-flex; /* Safari */
		margin-bottom: 15px;
		flex-basis: 100%;
		-webkit-flex-basis: 100%; /* Safari 6.1+ */	
	}
	
	.one-quarter-col-flex {
	flex-basis: 47%;
	-webkit-flex-basis: 47%; /* Safari 6.1+ */	
	}
	
	.one-col-half {
		float:none;
		width:100%;
		
	}
	.secondarynavonthree{
		width: 50%;
		margin-bottom: 0;
	}
	.secondarynavoffthree{
		width: 50%;
		margin-bottom: 0;
	}
	.mobile-nav-spacer{
		margin: 3% auto;
		float: left;
		display: block;
	}

}
@media screen and (max-width: 860px) {
	.newsflash_mobile {
		font-size:16px;
		float:left;
		width:100%;
		text-align:center;
		color:#fff;
		background-color:#FC0D1C;
		display:inline;
		padding:10px;
		font-weight: bold;
	}
	.newsflash_mobile a {
		color:#fff;
	}
	.newsflash {
		display: none;
	}
}
