{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-bagnallstory.jpg" | absURL }}" alt="building of the bagnall centre">
        <div class="herotext-pages"><span class="largetext">{{ .Title }}</span></div>
    </div>

    <div class="greybackground">
        <div class="page-container">

            <a href="/working-with-us/">
                <div class="secondarynavoffthree orangesecondarynavoff">
                    Practitioners
                </div>
            </a>
            
            <a href="/working-with-us/rooms/">
                <div class="secondarynavoffthree orangesecondarynavoff">
                    Our Rooms
                </div>
            </a>

            <a href="/working-with-us/rentalfees/">
                <div class="secondarynavoffthree orangesecondarynavoff">
                    Rental Fees &amp; Times
                </div>
            </a>
            
            <div class="secondarynavonthree">
                Apply
            </div>
            
            <div class="mobile-nav-spacer">
                <br>
            </div>

            <div class="three-quarter-col colpadding-right">
                {{ .Content }}

                <form class="apply" name="apply" data-netlify="true">
                    <div class="two-col"> 
                        <label for="firstname">First Name:</label>
                        <br>
                        <input id="firstname" name="firstname" value="" placeholder="First name" onfocus="this.placeholder = \'\'" onblur="this.placeholder = \'First name'" type="text" required="">
                    </div>
                    <div class="two-col"> 
                        <label for="surname">Surname:</label>
                        <br>
                        <input id="surname" name="surname" value="" placeholder="Surname" onfocus="this.placeholder = \'\'" onblur="this.placeholder = \'Surname\'" type="text" required="">
                    </div>
                    <label for="email">Email Address:</label>
                    <input id="email" name="email" value="" placeholder="your@email-address.co.uk" onfocus="this.placeholder = \'\'" onblur="this.placeholder = \'your@emailaddress.co.uk\'" type="email" required="">
                    <br>
                    <label for="phone">Phone Number:</label>
                    <input id="phone" name="phone" value="" placeholder="Your contact number" onfocus="this.placeholder = \'\'" onblur="this.placeholder = \'Please enter your contact number\'" type="text" required="">
                    <br>
                    <label for="occupation">Area of Expertise:</label>
                    <input id="occupation" name="occupation" value="" placeholder="Your area of expertise" onfocus="this.placeholder = \'\'" onblur="this.placeholder = \'Your area of expertise\'" type="text">
                    <br>
                    <label for="specialrequirements">Message:</label>
                    <textarea id="specialrequirements" placeholder="Questions, Queries, or any additional information" onfocus="this.placeholder = \'\'" onblur="this.placeholder = \'Questions, Queries, or any additional information\'" name="message"></textarea>
                    
                    <br>  
                    <input type="submit" class="button" name="submit" value="Send booking request">
                </form>
            </div>

            <div class="one-quarter-col">
                <p>If you would like to start your healthcare practice at the Bagnall Centre please contact us on - <b>01494 791288</b> or <b><a href="mailto:booking@bagnallcentre.com">bookings@bagnallcentre.com</a></b><br>
                We look forward to hearing from you!</p>
            </div>

        </div>
    </div>

{{ end }}