{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-bagnallstory.jpg" | absURL }}" alt="building of the bagnall centre">
        <div class="herotext-pages"><span class="largetext">{{ .Title }}</span></div>
    </div>

    <div class="greybackground pebblesbackground">
        <div class="page-container">
            <div class="three-quarter-col colpadding-right">
                {{ .Content }}
            </div>

            <div class="one-quarter-col">

                {{ partial "whats-on-widget" . }}

                {{ partial "mailing-list" . }}
                
            </div>

        </div>
    </div>

{{ end }}