<!doctype html>
<html lang="{{ .Site.LanguageCode | default "en" }}">
    <head>

        {{ block "site/meta" . }}{{ partial "site/meta.html" . }}{{ end }}

        <title>{{ block "title" . }}
            {{- with .Title }}{{ . }} | {{ end }}{{ .Site.Title -}}
        {{ end }}</title>

        <link rel="dns-prefetch" href="https://fonts.googleapis.com">
        <link rel="dns-prefetch" href="https://cdnjs.cloudflare.com">

        {{ if .RSSLink }}
            <link href="{{ .RSSLink }}" title="{{ .Site.Title }}" type="application/rss+xml" rel="alternate">
        {{ end }}

        <meta name="theme-color" content="#fe7600">

        <link rel="manifest" href="{{ "manifest.json" | absURL }}">
        <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}">

        {{ block "site/styles" . }}{{ partial "site/styles.html" . }}{{ end }}

    </head>
    <body>

        {{ partial "mobile/nav.html" . }}

        {{ block "header" . }}{{ partial "site/header.html" . }}{{ end }}

        <div class="content-wrapper">
            <div class="content padding">

                <main class="site-main" role="main">

                    {{ block "main" . }}{{ end }}

                </main>

                {{ block "footer" . }}{{ partial "site/footer.html" . }}{{ end }}

            </div>
        </div>

        {{ block "site/scripts" . }}{{ partial "site/scripts.html" . }}{{ end }}

    </body>
</html>