{{ define "main" }}

    <div class="inner-hero inner-hero--success">
        <img src="{{ "uploads/header-nutrition.jpg" | absURL }}" alt="a bowl of fruit and person in background meditating">
        <h2 class="inner-hero__title">{{ .Title }}</h2>
    </div>

    <div class="bg--grey content-area content-area--no-top">

        <div class="secondary-nav secondary-nav--green">
            <span>Nutrition</span>
            <a href="/nutrition-and-lifestyle/lifestyle/">Lifestyle</a> 
        </div>

        {{ .Content }}

    </div>

{{ end }}