{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-bagnallstory.jpg" | absURL }}" alt="building of the bagnall centre">
        <div class="herotext-pages"><span class="largetext">{{ .Title }}</span></div>
    </div>

    <div class="greybackground">
        <div class="page-container">

            <div class="secondary-nav">
                <a href="/working-with-us/">Practitioners</a>
                <a href="/working-with-us/rooms/">Our Rooms</a>
                <span>Rental Fees &amp; Times</span>
                <a href="/working-with-us/apply/">Apply</a>
            </div>
            
            <div class="mobile-nav-spacer">
                <br>
            </div>

            <div class="three-quarter-col colpadding-right content-area">
                {{ .Content }}
            </div>

            <div class="one-quarter-col">
                {{ partialCached "working-with-us-column" . }}
            </div>


        </div>
    </div>

{{ end }}