{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-bagnallstory.jpg" | absURL }}" alt="building of the bagnall centre">
        <div class="herotext-pages"><span class="largetext">{{ .Title }}</span></div>
    </div>

    <div class="greybackground">
        <div class="page-container">

            <a href="/working-with-us/">
                <div class="secondarynavoffthree orangesecondarynavoff">
                    Practitioners
                </div>
            </a>
            
            <div class="secondarynavonthree">
                Our Rooms
            </div>

            <a href="/working-with-us/rentalfees/">
                <div class="secondarynavoffthree orangesecondarynavoff">
                    Rental Fees &amp; Times
                </div>
            </a>
            
            <a href="/working-with-us/apply/">
                <div class="secondarynavoffthree orangesecondarynavoff">
                    Apply
                </div>
            </a>
            
            <div class="mobile-nav-spacer">
                <br>
            </div>

            <div class="three-quarter-col colpadding-right">
                {{ .Content }}
            </div>

            <div class="one-quarter-col">
                <p>If you would like to start your healthcare practice at the Bagnall Centre please contact us on - <b>01494 791288</b> or <b><a href="mailto:booking@bagnallcentre.com">bookings@bagnallcentre.com</a></b><br>
                We look forward to hearing from you!</p>
            </div>


        </div>
    </div>

{{ end }}