{{ define "main" }}

    <div class="hero-pages">
        <img alt="Bagnall Centre News" src="{{ "uploads/header-news.jpg" | absURL }}">
        <div class="herotext-pages">
            <span class="largetext">{{ .Title }}</span>
        </div>
    </div>

    <div class="greybackground">
        <div class="page-container">

            <div class="three-quarter-col colpadding-right" style="position: relative;">
                
                <h1>Search Results for <span id="searched-for"></span></h1>

                <div class="redline"></div>

                <input type="text" autocomplete="off" id="search-query" placeholder="Search" />

                <div id="search-results"></div>

            </div>
            
            <div class="one-quarter-col">

                {{ partial "whats-on-widget" . }}
            
                {{ partial "mailing-list" . }}

            </div>


        </div>
    </div>

{{ end }}