{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-therapies.jpg" | absURL }}" alt="therapist checking ladies arm">
        <div class="purpleherotext"><span class="largetext">{{ .Title }}</span></div>
    </div>

    <div class="greybackground">
        <div class="page-container">
            
            <div class="secondary-nav secondary-nav--purple">
                <span>Therapies</span>
                <a href="/therapy-and-wellbeing/wellbeing/">Wellbeing</a> 
            </div>
            
            {{ .Content }}

        </div>
    </div>

{{ end }}