{{ define "main" }}

    <div class="inner-hero inner-hero--secondary">
        <img src="{{ "uploads/header-therapies.jpg" | absURL }}" alt="therapist checking ladies arm">
        <h2 class="inner-hero__title">{{ .Title }}</h2>
    </div>

    <div class="bg--grey content-area content-area--no-top">

        <div class="secondary-nav secondary-nav--purple">
            <span>Therapies</span>
            <a href="/therapy-and-wellbeing/wellbeing/">Wellbeing</a> 
        </div>
            
        {{ .Content }}

    </div>

{{ end }}