{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-therapies.jpg" | absURL }}" alt="therapist checking ladies arm">
        <div class="purpleherotext"><span class="largetext">{{ .Title }}</span></div>
    </div>

    <div class="greybackground">
        <div class="page-container">
            
            <div class="secondarynavon">
                Therapies
            </div>

            <a href="/therapy-and-wellbeing/wellbeing/">
                <div class="secondarynavoff purplesecondarynavoff">
                    Wellbeing
                </div>
            </a> 

            {{ .Content }}

        </div>
    </div>

{{ end }}