{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-therapies.jpg" | absURL }}" alt="therapist checking ladies arm">
        <div class="purpleherotext"><span class="largetext">{{ .Title }}</span></div>
    </div>

    <div class="greybackground">
        <div class="page-container">
            
            <a href="/therapy-and-wellbeing/">
                <div class="secondarynavoff purplesecondarynavoff">Therapies</div>
            </a>

            <div class="secondarynavon">Wellbeing</div>

            

        </div>
    </div>

{{ end }}