{{ define "main" }}

    <div class="inner-hero">
        <img src="{{ "uploads/header-bagnallstory.jpg" | absURL }}" alt="building of the bagnall centre">
        <h2 class="inner-hero__title">{{ .Title }}</h2>
    </div>

    <div class="bg--grey content-area content-area--no-top">

        <div class="secondary-nav">
            <span>Practitioners</span>
            <a href="/working-with-us/rooms/">Our Rooms</a>
            <a href="/working-with-us/rental-fees/">Rental Fees &amp; Times</a>
            <a href="/working-with-us/apply/">Apply</a>
        </div>

        <div class="row">

            <div class="column--md-9">
                {{ .Content }}
            </div>

            <div class="column--md-3">
                {{ partialCached "working-with-us-column" . }}
            </div>

        </div>

    </div>
{{ end }}