.origin-time-picker {
    background: #fff;
    border: 2px solid #798291;
    border-radius: 2px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.16);
    display: none;
    margin-top: 1px;
    padding: 4px;
    position: absolute;
    width: 250px;
    z-index: 99999!important;
}

.origin-time-picker--open {
    display: block;
}

.origin-time-picker table {
    margin: 0;
    width: 100%;
}

.origin-time-picker table td {
    height: 28px;
    text-align: center;
}