{{ define "main" }}

    <div class="inner-hero">
        <img alt="Bagnall Centre News" src="{{ "uploads/header-news.jpg" | absURL }}">
        <h2 class="inner-hero__title">News</h2>
    </div>

    <div class="bg--grey content-area">

        <div class="row">

            <div class="col-md-8">
                {{ range first 1 (where .Site.RegularPages "Section" "news") }}
                    <h1>{{ .Title }}</h1>
                    <h2>by {{ .Params.author }} on {{ partial "custom-date.html" . (.Date.Format "2") }}</h2>
                    <div class="orangeline"></div>
                    <div class="article-content">
                        {{ .Content }}
                    </div>
                {{ end }}
            </div>

            <div class="col-md-4">
                {{ partial "articles" . }}

                {{ partial "whats-on-widget" . }}

                {{ partial "mailing-list" . }}
            </div>

        </div>

    </div>
{{ end }}