{{ define "main" }}

    <div class="hero-pages">
        <img alt="Bagnall Centre News" src="{{ "uploads/header-news.jpg" | absURL }}">
        <div class="herotext-pages">
            <span class="largetext">News</span>
        </div>
    </div>
    <div class="greybackground">
        <div class="page-container">
            <div class="three-quarter-col colpadding-right">

                {{ range first 1 (where .Site.Pages "Section" "news") }}
                    <h1>{{ .Title }}</h1>
                    <h2>by {{ .Params.author }} on {{ partialCached "custom-date.html" . }}</h2>
                    <div class="orangeline"></div>
                    <div class="article-content">
                        {{ .Content }}
                    </div>
                {{ end }}
                
            </div>
            <div class="one-quarter-col">
                <div class="articles">
                    
                    <h2>Articles</h2>
                    {{ range where .Site.Pages "Section" "news" }}
                        <p><b><a href="{{ .Permalink }}">{{ .Title }}</a></b><br>{{ partialCached "custom-date.html" . (.Date.Format "1") }}</p>
                    {{ end }}

                </div>
                <div class="whatson">
                    <h2>What's on</h2>
                    <div class="whatsoncontainerside">
                        <a href="/whatson/event-pilates-wtih-helena/">
                        <div class="calendarcontainer">
                            <i aria-hidden="true" class="fa fa-calendar"></i>
                        </div>
                        <div class="three-quarter-col">
                            <span class="mediumtext"><b>Pilates with Helena</b></span>
                            <p>8th January, 2018 7:00pm</p>
                        </div></a>
                    </div>
                    <div class="whatsoncontainerside">
                        <a href="/whatson/event-cranial-therapies-how-could-they-contribute-to-health/">
                        <div class="calendarcontainer">
                            <i aria-hidden="true" class="fa fa-calendar"></i>
                        </div>
                        <div class="three-quarter-col">
                            <span class="mediumtext"><b>Cranial therapies - how could they contribute to health?</b></span>
                            <p>15th January, 2018 10:00am</p>
                        </div></a>
                    </div>
                    <div class="whatsoncontainerside">
                        <a href="/whatson/tai-chi/">
                        <div class="calendarcontainer">
                            <i aria-hidden="true" class="fa fa-calendar"></i>
                        </div>
                        <div class="three-quarter-col">
                            <span class="mediumtext"><b>Tai Chi</b></span>
                            <p>1st February, 2018 8:00pm</p>
                        </div></a>
                    </div>
                    <div class="whatsoncontainerside">
                        <a href="/whatson/kickstart-your-lifestyle-change-with-the-win-programme/">
                        <div class="calendarcontainer">
                            <i aria-hidden="true" class="fa fa-calendar"></i>
                        </div>
                        <div class="three-quarter-col">
                            <span class="mediumtext"><b>Kickstart your Lifestyle Change with The WIN Programme!</b></span>
                            <p>1st March, 2018 10:00am</p>
                        </div></a>
                    </div>
                </div>
                <div class="whatsonsignup">
                    <a class="button" href="/whatson">What's on at The Bagnall Centre</a>
                    <div class="marginspace"></div><!-- for space -->
                     <span class="mediumtext"><i aria-hidden="true" class="fa fa-envelope-o"></i>Join our mailing list</span>
                    <form action="/news/" class="signupform" method="post">
                        <input id="email" name="email" onblur="this.placeholder = &#39;your@emailaddress.co.uk&#39;" onfocus="this.placeholder = &#39;&#39;" placeholder="your@emailaddress.co.uk" required="" type="email" value=""> <input name="submit" type="submit" value="">
                    </form>
                </div>
            </div>
        </div>
    </div>

{{ end }}                