<div id="hide_mob_nav">
    <div class="mobilenav">
        <div class="navonmob"><i class="fa fa-home primary" style="font-size:1.3em;"></i></div>
        <div class="navoffmob"><a href="/fitness-and-exercise">Fitness &amp; Exercise</a></div>
        <div class="navoffmob"><a href="/therapy-and-wellbeing">Therapy &amp; Wellbeing</a></div>
        <div class="navoffmob"><a href="/nutrition-and-lifestyle">Nutrition &amp; Lifestyle</a></div>
        <div class="navoffmob"><a href="/working-with-us">Working with us</a></div>
        <div class="navoffmob"><a href="/contact-us">Contact Us</a></div>
        <form class="search" action="/search/" method="GET">
            <label for="search-input" class="sr">Search query</label>
            <input class="search-input" id="search-input" placeholder="Search" onfocus="this.placeholder = &#39;&#39;" onblur="this.placeholder = &#39;Search&#39;" type="text" name="search" value="">
            <button class="search-button">
                <i class="fa fa-search"></i>
                <span class="sr">Search</span>
            </button>
        </form>
    </div>
</div>

<noscript id="show_mob_nav">
    &lt;div class="mobilenav"&gt;
        &lt;div class='navonmob'&gt;&lt;i class='fa fa-home primary' style='font-size:1.3em;'&gt;&lt;/i&gt;&lt;/div&gt;&lt;div class='navoffmob'&gt;&lt;a href='/fitness-and-exercise'&gt;Fitness &amp; Exercise&lt;/a&gt;&lt;/div&gt;&lt;div class='navoffmob'&gt;&lt;a href='/therapy-and-wellbeing'&gt;Therapy &amp; Wellbeing&lt;/a&gt;&lt;/div&gt;&lt;div class='navoffmob'&gt;&lt;a href='/nutrition-and-lifestyle'&gt;Nutrition &amp; Lifestyle&lt;/a&gt;&lt;/div&gt;&lt;div class='navoffmob'&gt;&lt;a href='/working-with-us'&gt;Working with us&lt;/a&gt;&lt;/div&gt;&lt;div class='navoffmob'&gt;&lt;a href='/contact-us'&gt;Contact Us&lt;/a&gt;&lt;/div&gt;            &lt;form class="search" action="/search/" method="POST"&gt;
            &lt;input class="search-input" placeholder="Search" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search'" type="text" name="search" value=""&gt;
            &lt;button class="search-button"&gt;&lt;i class="fa fa-search"&gt;&lt;/i&gt;&lt;/button&gt;
        &lt;/form&gt;       &lt;/div&gt;
    </noscript>  