<a style="display: block;">
    <div class="products showdiv" id="{{ .UniqueID }}">
        <div class="one-col-class therapyhover">
            <div class="iconcontainer">

                <svg class="svgpurple" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 327.84 260.59">
                    <path class="cls-1" d="M163.92,0a150.66,150.66,0,0,0-50.51,112.71c0,44.81,19.52,104.22,50.51,131.88,31-27.66,50.51-87.07,50.51-131.88A150.66,150.66,0,0,0,163.92,0Z"></path>
                    <path class="cls-1" d="M327.79,132a114.92,114.92,0,0,0-88.89,31.22c-24.8,23.52-47.42,65.51-46.46,97.18,31.58,2.63,74.7-17.76,99.49-41.29A114.92,114.92,0,0,0,327.79,132Z"></path>
                    <path class="cls-1" d="M88.94,163.18A114.92,114.92,0,0,0,.05,132a114.92,114.92,0,0,0,35.86,87.12C60.7,242.6,103.83,263,135.4,260.36,136.36,228.69,113.74,186.7,88.94,163.18Z"></path>
                </svg>

            </div>
            <div class="descriptioncontainer">

                <div class="productstitle">
                    <b>{{ .Title }}</b>
                </div>

                <div class="productsdescription-start">
                    {{ .Description }}
                </div>

                <br>

                <div class="dropdown">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                
            </div>
            
        </div>
        
        <div class="productdescription">
            {{ .Content }}
            <span class="largetext" style="float:right;">For enquiries call <span class="orangetext">01494 791288</span></span>
        </div>
        
    </div>
</a>