<div class="accordion accordion--success">

    <div class="accordion__header" id="{{ .UniqueID }}">

        <div class="accordion__icon">
            {{ partial "wheat.svg" . }}
        </div>

        <h2 class="accordion__title">{{ .Title }}</h2>

        <p class="accordion__description">{{ .Description }}</p>

        <div class="accordion__caret">
            <i class="fa fa-angle-down"></i>
        </div>

    </div>

    <div class="accordion__body">
        {{ .Content }}

        <span class="accordion__footer">For enquiries call <span class="text-primary">01494 791288</span></span>
    </div>

</div>