<a name="{{ .UniqueID }}">
    <div class="products showdiv">
        <div class="one-col-class nutritionhover">
            <div class="iconcontainer">

                <svg class="svggreen" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 306.26 294.64">
                    <path class="cls-1" d="M48.93,144.53a59.69,59.69,0,0,0-25.53,49c0,15.69,10.15,33.67,21.89,46L0,284.81l9.83,9.83L55.77,248.7c12.48-12.48,19.16-27.08,18.69-55.18A60.57,60.57,0,0,0,48.93,144.53Z"></path>
                    <path class="cls-1" d="M97.1,194.34a59.76,59.76,0,0,0,0-98,59.76,59.76,0,0,0,0,98Z"></path>
                    <path class="cls-1" d="M145.28,146.16a59.76,59.76,0,0,0,0-98,59.76,59.76,0,0,0,0,98Z"></path>
                    <path class="cls-1" d="M193.46,98a59.76,59.76,0,0,0,0-98,59.76,59.76,0,0,0,0,98Z"></path>
                    <path class="cls-1" d="M221.56,99.73a59.69,59.69,0,0,0-49,25.53,59.76,59.76,0,0,0,98,0A59.69,59.69,0,0,0,221.56,99.73Z"></path>
                    <path class="cls-1" d="M251.07,39.75a59.69,59.69,0,0,0-29.65,46.61,59.76,59.76,0,0,0,84.85-49A59.69,59.69,0,0,0,251.07,39.75Z"></path>
                    <path class="cls-1" d="M173.38,147.91a59.69,59.69,0,0,0-49,25.53,59.76,59.76,0,0,0,98,0A59.69,59.69,0,0,0,173.38,147.91Z"></path>
                    <path class="cls-1" d="M125.2,196.09a59.69,59.69,0,0,0-49,25.53,59.76,59.76,0,0,0,98,0A59.69,59.69,0,0,0,125.2,196.09Z"></path>
                </svg>

            </div>
            <div class="descriptioncontainer">

                <div class="productstitle">
                    <b>{{ .Title }}</b>
                </div>

                <div class="productsdescription-start">
                    {{ .Description }}
                </div>

                <br>

                <div class="dropdown">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                </div>
                
            </div>
            
        </div>
        
        <div class="productdescription">
            {{ .Content }}
            <span class="largetext" style="float:right;">For enquiries call <span class="orangetext">01494 791288</span></span>
        </div>
        
    </div>
</a>