<div class="activities">

    <div class="activities__header">
        <div class="activities__column activities--day">Day</div>
        <div class="activities__column activities--time">Time</div>
        <div class="activities__column activities--class">Class</div>
        <div class="activities__column activities--price">Price</div>
        <div class="activities__column activities--room">Room</div>
        <div class="activities__column activities--term">Term</div>
        <div class="activities__column activities--booking">Booking</div>
    </div>

    {{ $scope := . }}
    {{ range (slice "monday" "tuesday" "wednesday" "thursday" "friday" "saturday") }}

        {{ partial "day" (dict "Scope" $scope "day" .) }}

    {{ end }}

</div>