<div class="features">
    <a href="/fitness-and-exercise/" class="feature feature--danger">
        <img alt="fitness and exercise" src="{{ "uploads/fitness-excercise.jpg" | absURL }}">
        <h2 class="feature__title">Fitness and Exercise</h2>
    </a>
    <a href="/treatments/therapies/" class="feature feature--secondary">
        <img alt="therapy-wellbeing" src="{{ "uploads/therapy-wellbeing.jpg" | absURL }}">
        <h2 class="feature__title">Therapy and Wellbeing</h2>
    </a>
    <a href="/treatments/nutrition/" class="feature feature--success">
        <img alt="nutrition-lifestyle" src="{{ "uploads/nutrition-lifestyle.jpg" | absURL }}">
        <h2 class="feature__title">Nutrition and Lifestyle</h2>
    </a>
    <a href="/news/" class="feature feature--warning">
        <img alt="latest-news" src="{{ "uploads/latest-news.jpg" | absURL }}">
        <h2 class="feature__title">Latest News and info</h2>
    </a>
</div>