<div class="features">
    <a href="/fitness-and-exercise/" class="feature feature--danger" style='background-image: url({{ "uploads/fitness-excercise.jpg" | absURL }});'>
        <h2 class="feature__title">Fitness and Exercise</h2>
    </a>
    <a href="/therapy-and-wellbeing/" class="feature feature--secondary" style='background-image: url({{ "uploads/therapy-wellbeing.jpg" | absURL }});'>
        <h2 class="feature__title">Therapy and Wellbeing</h2>
    </a>
    <a href="/nutrition-and-lifestyle/" class="feature feature--success" style='background-image: url({{ "uploads/nutrition-lifestyle.jpg" | absURL }});'>
        <h2 class="feature__title">Nutrition and Lifestyle</h2>
    </a>
    <a href="/news/" class="feature feature--warning" style='background-image: url({{ "uploads/latest-news.jpg" | absURL }});'>
        <h2 class="feature__title">Latest News and info</h2>
    </a>
</div>