<div class="hero">

    <div class="caption">

        <h1 class="caption__title">Welcome to The Bagnall Centre for Integrated Healthcare</h1>

        <div class="caption__body">
            <p class="caption__description">Welcome to the Bagnall Centre, where our beautiful environment and specialised practitioners create the complete wellbeing experience.</p>
            <a href="/bagnall-story/" class="btn btn-lg btn-primary">The Bagnall Story</a>
        </div>

        <div class="caption__footer">
            <a href="/whats-on/" class="btn btn-primary">
                <i class="fa fa-calendar"></i>
                See what's on at the Bagnall Centre
                <i class="fa fa-arrow-right"></i>
            </a>
        </div>
    </div>

</div>