<div class="whatsonsignup">

    <a class="button button-with-icons" href="/whats-on">
        <i aria-hidden="true" class="fa fa-calendar"></i>
        What's on
        <i aria-hidden="true" class="fa fa-arrow-right"></i>
    </a>

    <div class="marginspace"></div>

    <span class="mediumtext"><i aria-hidden="true" class="fa fa-envelope-o"></i>Join our mailing list</span>

    <form action="/news/" class="signupform" method="post">
        <input id="email" name="email" onblur="this.placeholder = &#39;your@emailaddress.co.uk&#39;" onfocus="this.placeholder = &#39;&#39;" placeholder="your@emailaddress.co.uk" required="" type="email" value=""> <input name="submit" type="submit" value="">
    </form>

</div>