<div class="text-center">
    <a class="btn btn-primary btn-icons btn-lg" href="/whats-on">
        <i class="fa fa-calendar"></i>
        What's on
        <i class="fa fa-arrow-right"></i>
    </a>
</div>

<form action="/news/" method="post" class="mailing-list-widget">
    <h2 class="mailing-list-widget__title"><i class="fa fa-envelope-o"></i>Join our mailing list</h2>
    <div class="mailing-list-widget__group">
        <input id="email" name="email" class="mailing-list-widget__input" placeholder="your@emailaddress.co.uk" required="required" type="email">
        <button name="submit" type="submit" class="btn btn-primary mailing-list-widget__button"><i class="fa fa-edit"></i></button>
    </div>
</form>