<div class="whatson-widget">
    <h2>What's on</h2>

    <ul class="whatson-widget__list">
        {{ $allevents := (where (.Site.RegularPages.ByParam "starts_at") ".Section" "whats-on") }}
        {{ $currentevents := (where $allevents "Params.starts_at" "ge" (now.RFC3339)) }}

        {{ range first 2 $currentevents }}

            <a href="{{ .Permalink }}" class="whatson-widget__item">
                <div class="whatson-widget__icon">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="whatson-widget__body">
                    <h2 class="whatson-widget__title">{{ .Title }}</h2>
                    <time class="whatson-widget__time" datetime="{{ dateFormat "2006-01-21T15:04:05" .Params.starts_at }}">{{ dateFormat "2 January at 3:04pm" .Params.starts_at }}</time>
                </div>
            </a>

        {{ end }}
    </ul>

</div>