{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-whatson.jpg" | absURL }}" alt="building of the bagnall centre">
        <div class="herotext-pages"><span class="largetext">What's on</span></div>
    </div>

    <div class="greybackground">
        <div class="page-container">

            <div class="three-quarter-col colpadding-right">
                <h1>{{ .Title }}</h1>

                {{ .Content }}
            </div>

            <div class="one-quarter-col">

				{{ partial "whats-on-widget" . }}

                {{ partial "mailing-list" . }}

            </div>
        </div>
    </div>

{{ end }}