{{ define "main" }}

    <div class="hero-pages">
        <img src="{{ "uploads/header-nutrition.jpg" | absURL }}" alt="therapist checking ladies arm">
        <div class="greenherotext">
            <span class="largetext">{{ .Title }}</span>
        </div>
    </div>

    <div class="greybackground">
        <div class="page-container">

            <div class="secondarynavon">Nutrition</div>

            <a href="#Wellbeing">
                <div class="secondarynavoff greensecondarynavoff">Lifestyle</div>
            </a>

            {{ range .Data.Pages }}
                {{ partial "accordion-item.html" . }}
            {{ end }}

        </div>

    </div>

{{ end }}