{{ define "main" }}

    <div class="inner-hero">
        <img src="{{ "uploads/header-bagnallstory.jpg" | absURL }}" alt="building of the bagnall centre">
        <h2 class="inner-hero__title">{{ .Title }}</h2>
    </div>

    <div class="bg--grey content-area">

        <div class="col-md-8">
            <h1>Error 404 - Not found</h1>
            <p>Your browser can't find the document corresponding to the URL you typed in.</p>
        </div>

        <div class="col-md-4">
            <p>If you would like to start your healthcare practice at the Bagnall Centre please contact us on - <b>01494 791288</b> or <b><a href="mailto:booking@bagnallcentre.com">bookings@bagnallcentre.com</a></b><br>
            We look forward to hearing from you!</p>
        </div>

    </div>
{{ end }}