{{ define "main" }}

    {{ partial "hero" . }}

    {{ partial "features" . }}

    <div class="one-col-flex">

        <div class="one-half-flex orangebackground">
            <div class="contact">
                <span class="largetext">Contact us today to see how we can help</span><br>
                <div class="telephonenumber">
                    <span class="largetext"><i aria-hidden="true" class="fa fa-phone"></i> <a href="tel:01494791288" id="upcoming-events" name="upcoming-events"><b>01494 791 288</b></a></span>
                </div>
            </div>
        </div>

        <div class="one-half-flex darkgreybackground">
            <div class="joinus">
                <div class="calendarcontainer">
                    <i aria-hidden="true" class="fa fa-envelope-o"></i>
                </div>
                <div class="three-quarter-col">
                    <div class="joinusheader">
                        JOIN OUR MAILING LIST
                    </div>
                    <div class="joinustext">
                        Enjoy our news on holistic health and wellbeing - make health your lifestyle choice
                    </div>
                </div>
                <form action="https://bagnallcentre.us13.list-manage.com/subscribe/post?u=36be75aeef021f72f182118c6&amp;id=0d1fee7c5d" class="joinusform" method="post" name="mc-embedded-subscribe-form" target="_blank">

                    <label for="mc-signup-form" class="sr">E-Mail Address</label>
                    <input id="mc-signup-form" class="required email" name="EMAIL" placeholder="your@emailaddress.co.uk" type="email" required="required"> <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div aria-hidden="true" style="position: absolute; left: -5000px;">
                        <input name="b_36be75aeef021f72f182118c6_0d1fee7c5d" tabindex="-1" type="text" value="">
                    </div>
                    <input name="subscribe" type="submit" value="Sign Up">
                    <div class="clear"></div>
                    <div class="clear" id="mce-responses">
                        <div class="response" id="mce-error-response" style="display:none"></div>
                        <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>
                </form>
            </div>
        </div>

    </div>

    <div class="greybackground">
        <div class="page-container-events">
            <div class="upcomingevents">
                <i aria-hidden="true" class="fa fa-calendar"></i>What’s on at The Bagnall Centre
            </div>

            {{ partial "home-whats-on-widgets" . }}

            <div class="one-col">
                <div class="whatelseison">
                    <a class="button" href="/whats-on">See what else is on at the Bagnall Centre...</a>
                </div>
            </div>
        </div>
    </div>

{{ end }}