{{ define "main" }}

    {{ partialCached "hero" . }}

    {{ partialCached "features" . }}

    <div class="ctas">

        {{ partialCached "ctas/contact" . }}

        {{ partial "ctas/mailing" . }}

    </div>

    <section id="whats-on-section" class="bg--grey featured-whats-on">

        <h2 class="featured-whats-on__title"><i aria-hidden="true" class="fa fa-calendar"></i>What’s on at The Bagnall Centre</h2>
        
        {{ partial "home-whats-on-widgets" . }}

        <footer class="featured-whats-on__footer">
            <a class="btn btn-primary btn-block btn-lg" href="/whats-on">See what else is on at the Bagnall Centre...</a>
        </footer>
        
    </section>

{{ end }}