.btn {
    border-radius: 3px;
    padding: 8px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    border: 0;
    white-space: normal;

    &-primary {
        background: $brand-primary;
        color: #fff;

        &:hover,
        &:focus {
            background: darken($brand-primary, 5%);
        }
    }

    &-block {
        display: block;
        width: 100%;
    }

    &-lg {
        padding: 14px 40px;

        .fa {
            font-size: 25px;

            &-calendar {
                float: left;
            }

            &-arrow-right {
                float: right;
            }
        }

    }

    &-icons {
        line-height: 27px;
    }

}
