.tt-dropdown {
    font-size: 16px;

    &:hover {
        .dropdown-content {
            display: block;
        }
    }
}

.dropdown-content {
    color: #fff;
    display: none;
    position: absolute;
    background-color: #ff9100;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
    z-index: 1;
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    margin-left: -10px;

    a {
        color: #fff;
    }

    p {
        padding: 5px;

        &:hover {
            background-color: #e7effc;
            color: #5b6677;

            a {
                color: #5b6677;
            }
        }
    }

}
