.container {
    @include clearfix();
    margin: 0 auto;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

    @media screen and (min-width: $screen-sm) {
        width: 750px;
    }

    @media screen and (min-width: $screen-md) {
        width: 970px;
    }

    @media screen and (min-width: $screen-lg) {
        width: 1170px;
    }

}
