.header {
    width: 100%;
    position: relative;
    z-index: 999;

    @media screen and (min-width: $navigation-break-point) {
        background: #fff;
    }

    @media screen and (min-width: $navigation-break-point) and (max-width: $screen-md) {
        min-height: 98px;
    }

}
