.room {
    background: #fff;
    margin-bottom: 20px;

    @media screen and (min-width: $screen-sm) {
        display: flex;
    }

    &__thumbnail {

        @media screen and (min-width: $screen-sm) {
            flex: 1 1 30%;
            max-width: 30%;
        }

        > img {
            display: block;
        }
    }

    &--right {
        @media screen and (min-width: $screen-sm) {
            flex-direction: row-reverse;
        }
    }

    &__description {
        padding: 10px;

        @media screen and (min-width: $screen-sm) {
            flex: 1 1 80%;
            max-width: 80%;
        }

        p {
            margin: 0;
        }
    }

}