.secondary-nav {
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
    text-align: center;
    font-weight: 900;
    margin-bottom: 50px;
    width: 100%;
    font-size: .9em;

    &,
    * {
        box-sizing: border-box;
    }

    & > a {
        background-color: #d6e0ed;
        color: #5b6677;

        &:hover,
        &:focus {
            background-color: $orange;
            color: #fff;
        }

    }

    &--secondary > a {
        &:hover,
        &:focus {
            background-color: rgba($brand-secondary, .9);
        }
    }

    &--success > a {
        &:hover,
        &:focus {
            background-color: rgba($brand-success, .9);
        }
    }

    & > span {
        color: #7a899e;
    }

    & > a,
    & > span {
        display: block;
        padding: 10px;
        flex: 1 1 50%;
        text-decoration: none;
    }

    @media screen and (min-width: 992px) {
        font-size: 1.125em;

        & > a,
        & > span {
            flex: 1 1 25%;
            padding: 30px 15px;
        }
    }
}
