.social-media {

    &--fixed {
        top: 44%;
        right: 0;
        position: fixed;
        z-index: 9999;
    }

    &--inline {
        display: flex;
        margin-left: -10px;
        margin-right: -10px;

        > a {
            padding: 0 10px;
        }
    }
}
.social-media-button{
    box-sizing: border-box;
    color: #ffffff;
    text-align: center;
    font-size: large;
    padding: 7px;
    width: 40px;
    height: 40px;
    transition: 0.3s;
}
a:hover .social-media-button {
    cursor: pointer;
    opacity: 0.7;

}
.facebook{
    background-color: #3b5998;
}
.twitter{
    background-color: #1dadea;
}