.content-area {
    table {
        border-collapse: collapse;
        margin-bottom: 20px;

        th {
            font-size: 13px;
            color: #ff9100;
            line-height: 1.1em;
            text-align: left;
            padding: 10px 20px 10px 0;
            border-bottom: 1px solid #a5b5c4;
            padding-right: 20px;
        }

        td {
            padding: 10px 0;
            border-bottom: 1px solid #a5b5c4;
            padding-right: 20px;
        }

        tr {
            td {
                &:first-child {
                    font-size: 18px;
                    color: #ff9100;
                    line-height: 1.1em;
                    font-weight: bold;
                    width: 25%;
                }
            }
        }

    }

}
