<div class="cta {{ if and (.Get "button") (.Get "link") }}cta--has-button{{ end }}">
    
    <div class="cta__body">
        {{ .Inner | markdownify }}
    </div>

    {{ if and (.Get "button") (.Get "link") }}
        <div class="cta__footer">
            <a href="{{ .Get "link" | safeURL }}" rel="noopener" {{ if not (findRE "tel:|mailto:" (.Get "link")) }}target="_blank"{{ end }} class="cta__link btn btn-primary btn-lg">
                {{ .Get "button" }}
            </a>
        </div>
    {{ end }}

</div>