{{ if .IsNamedParams }}
    {{ $.Scratch.Set "category" (.Get "category") }}
{{ else }}
    {{ $.Scratch.Set "category" (.Get 0) }}
{{ end }}

{{ range (where .Site.Pages "Section" "therapies") }}
    {{ if in .Params.categories ($.Scratch.Get "category") }}

        {{ if eq ($.Scratch.Get "category") "nutrition" }}
            {{ partial "accordion-item-green.html" . }}
        {{ else }}
            {{ partial "accordion-item.html" . }}
        {{end}}
        
    {{ end }}
{{ end }}







