{{ define "main" }}

    {{ partial "inner-hero" ( dict "image" "/uploads/header-whatson.jpg" "title" "What's on" "Scope" . ) }}

    <div class="bg--grey content-area">

        <div class="row">

            <div class="column--md-8">
                <h1>{{ .Title }}</h1>

                {{ .Content }}

                {{ partial "share.html" (dict "Url" .Permalink "Title" .Title "Scope" .) }}
            </div>

            <div class="column--md-4">
                {{ partial "whats-on-widget" . }}

                {{ partial "mailing-list" . }}
            </div>

        </div>

    </div>
{{ end }}