{{ define "main" }}

    <div class="inner-hero">
        <img src="{{ "uploads/header-whatson.jpg" | absURL }}" alt="building of the bagnall centre">
        <h2 class="inner-hero__title">What's on</h2>
    </div>

    <div class="bg--grey content-area">

        <div class="row">

            <div class="col-md-8">
                <h1>{{ .Title }}</h1>

                {{ .Content }}
            </div>

            <div class="col-md-4">
                {{ partial "whats-on-widget" . }}

                {{ partial "mailing-list" . }}
            </div>

        </div>

    </div>
{{ end }}