.cta {

    &s {
        @media screen and (min-width: $screen-sm) {
            display: flex;
        }
    }

    position: relative;
    padding: 15px 20px;
    background: #fff;
    border-radius: 3px;

    &--has-button {
        padding-right: 200px;
    }

    &__link {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
    }

    @import 'contact';

    @import 'mailing';

}
