.cta {

    &s {
        @media screen and (min-width: $screen-sm) {
            display: flex;
        }
    }

    position: relative;
    padding: 15px 20px;
    background: #fff;
    border-radius: 3px;

    @media screen and (min-width: $screen-sm) {
        &--has-button {
            padding-right: 200px;
        }
    }

    
    &__link {
        margin-top: 20px;
        display: block;

        @media screen and (min-width: $screen-sm) {
            margin: 0;
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    @import 'contact';

    @import 'mailing';

}
